<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Um bot que irá moderar e deixar a sua comunidade segura de um jeito fácil!">
  <title>Perfil</title>
  <link rel="stylesheet" type="text/css" href="/web/css/stylePerfil.css">
  <link rel="stylesheet" type="text/css" href="/web/css/style_home.css">
</head>

<body>
  
    <nav class="nav">
		<div class="container">

			<a class="logo" class="navbar-brand" href="/web/home.html">
				<img src="img/Cat.png" alt="" width="60" height="54" class="d-inline-block align-text-top">
			</a>
			<button class="hamburger">
				<span></span>
			</button>

			<div class="container-menu">
				<button class="close"></button>

				<ul class="menu">
					<!-- Botão para acionar modal -->
					<li class="item active">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CadastroAnimal">
						Cadastrar Animal
					</button>
					</li>
					<li class="item"><a href="" class="link">Solicitação de adoção</a></li>
					<li class="item"><a href="perfil.html" class="link">Perfil animal</a></li>
					<li class="item"><a href="" class="link">Perfil</a></li>
				</ul>
			</div>
		</div>

	</nav>

  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo"> Leão</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Esse é o leão tem 2 anos</h2>
        <button class="conteudo-principal-escrito-botao">Me Adote !</button>
      </div>
      <img class="conteudo-principal-imagem"src="/web/img/AnimalHome/1.jpg" alt="DOGINHO">
    </section>

    <section class="conteudo-secundario">
        <h3 class="conteudo-secundario-titulo">Olha esse cachorrinho muito fofo não ?</h3>
        <p class="conteudo-secundario-paragrafo">Ele pode ser seu <strong>Adota ele </strong>Adota esse cachorro </p>
        <p class="conteudo-secundario-paragrafo">ADOTA ELE, MUITO FOFO<strong>SE VC NAO ADOTAR VAI BATER O DEDINHO</strong>VEM SER FELIZ</p>
        <p class="conteudo-secundario-paragrafo">ADOTAS ? <strong>ADOTE E MUDE O MUNDO</strong>,ELE PODE TE DEIXAR MAS O LEÃO NÃO </p>
      </section>
    </main>
   
 
</body>

</html>